<%= render 'layouts/error_messages', model: f.object %>
<%= f.label :image %>
<%= f.file_field :image, class: 'form-control' %>
<% if @noodle.image? %>
  <%= image_tag(@noodle.image.to_s, size: '300x300') %>
<% end %>
<div class="form-group">
  <%= f.label :name %> <span class="need">※</span>
  <%= f.text_field :name, class: "form-control", placeholder: "例）蒙古タンメン中本" %>
</div>
<div class="form-group">
  <%= f.label :maker %>
  <%= f.text_field :maker, class: "form-control", placeholder: "例）日清食品" %>
</div>
<div class="form-group">
  <%= f.label :place %>
  <%= f.text_field :place, class: "form-control", placeholder: "例）セブンイレブン" %>
</div>
<div class="form-group">
  <%= f.label :taste %> <span class="need">※</span>
  <%= f.text_field :taste, class: "form-control", placeholder: "例）味噌ラーメン　辛い　タンメン" %>
</div>
<div class="form-group">
  <%= f.label :eat %> 
  <%= f.text_area :eat, class: "form-control", placeholder: "家ラーメンをより美味しく食べる食べ方があれば教えて下さい。", rows: 5 %>
</div>
      