<% provide(:title, "#{@search_word}") %>
<p>「<%= @search_word %>」の検索結果</p>
<% if @noodles.count == 0 %>
  <p>「<%= @search_word %>」が含まれる家ラーメンはありません</p>
<% else %>
  <p><%= @noodles.count %>件ヒットしました</p>
<% end %>
<div class="noodles_search">
  <div class="row">
    <div class="col-md-9">
      <%= render "noodles/noodles" %>
    </div>
    <div class="col-md-3">
      <p><%= link_to "投稿", new_noodle_path, class: "btn btn-lg btn-record" %></p>
    </div>

  </div>
  <%= paginate @noodles %>
</div>