<% provide(:title, "家ラーメン投稿") %>
<div class="row justify-content-center">
  <div class="col-md-10 noodle_form">
    <h1>家ラーメン投稿</h1>
    <%= form_with(model: @noodle, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :name %> <span class="need">※</span>
        <%= f.text_field :name, class: "form-control", placeholder: "例）蒙古タンメン中本" %>
      </div>
      <div class="form-group">
        <%= f.label :maker %>
        <%= f.text_field :maker, class: "form-control", placeholder: "例）日清食品" %>
      </div>
      <div class="form-group">
        <%= f.label :place %>
        <%= f.text_field :place, class: "form-control", placeholder: "例）セブンイレブン" %>
      </div>
      <div class="form-group">
        <%= f.label :eat %>
        <%= f.text_area :eat, class: "form-control", placeholder: "家ラーメンをより美味しく食べる食べ方があれば教えて下さい。", rows: 5 %>
      </div>
      <%= f.submit "家ラーメンを投稿する", class: 'btn btn-block' %>
   <% end %>
  </div>
</div>

