<% provide(:title, "#{@noodle.name}") %>
<div class="row justify-content-center">
  <div class="col-md-10 noodle_show">
    <div class="row">
      <div class="col-md-4">
        <p><b><%= @noodle.name %></b></p>
        <% if @noodle.image? %>
          <%= image_tag(@noodle.image.to_s, size: '250x250') %>
        <% else %>
          <%= image_tag 'default.png', size: '200x200' %>
        <% end %>
        <%= render 'users/favorite_form' %>
      </div>
      <div class="col-md-7 offset-md-1 intro">
        <p>メーカー:<%= @noodle.maker %></p>
        <p>購入したお店:<%= @noodle.place %></p>
        <p>味:<%= @noodle.taste %></p>
        <p>美味しい食べ方:<%= @noodle.eat %></p>
        <% if current_user == @noodle.user %>
          <%= link_to "編集", edit_noodle_path(@noodle)  %> | 
          <% if current_user.admin? || (current_user == @noodle.user) %>
            <%= link_to "削除", noodle_path(@noodle), method: :delete,
                              data: { confirm: "本当に削除しますか？" } %>
          <% end %>
        <% end %>
        <p class="noodle_user_info"><small>投稿日:<%= @noodle.created_at.strftime("%Y-%m-%d/%H:%M") %> 投稿者:<%= link_to @noodle.user.name, user_path(@noodle.user) %>さん</small></p>
      </div>
    </div>
    <div class="comment">
      <h3>コメント (<%= "#{@noodle.comments.count}" %>)</h3>
      <% if @comments.any? %>
        <ul class="comments"> 
          <%= render "comments/comment" %>
        </ul>
      <% end %>
      <%= render "comments/new" %>
    </div>
  </div>
</div>